
@model Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Edit" method="post" asp-controller="Employees" asp-route-id="@Model.Id" >
               
                <div class="form-group">
                    <label asp-for="Names" class="control-label"></label>
                    <input asp-for="Names" class="form-control" value="@Model.Names"/>
                 
                </div>
                
                
                <div class="form-group">
                    <label asp-for="LastNames" class="control-label"></label>
                    <input asp-for="LastNames" class="form-control" value="@Model.LastNames"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" value="@Model.Email"/>
                  
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" value="@Model.BirthDate"/>
                   
                </div>
              
                <div class="form-group">
                    <label asp-for="ProfilePicture" class="control-label"></label>
                    <input asp-for="ProfilePicture" class="form-control" value="@Model.ProfilePicture"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Cv" class="control-label"></label>
                    <input asp-for="Cv" class="form-control" value="@Model.Cv"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" value="@Model.Gender"/>
                   
                </div>
                
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" value="@Model.Phone"/>
                   
                </div>
                   <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" value="@Model.Address"/>
                   
                </div>
     <div class="form-group">
                    <label asp-for="CivilStatus" class="control-label"></label>
                    <input asp-for="CivilStatus" class="form-control" value="@Model.CivilStatus"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" value="@Model.Salary"/>
               
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <input asp-for="About" class="form-control" value="@Model.About"/>
                 
                </div>
              
                <div class="form-group">
                    <label asp-for="AcademicTitle" class="control-label"></label>
                    <input asp-for="AcademicTitle" class="form-control" value="@Model.AcademicTitle"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Languages" class="control-label"></label>
                    <input asp-for="Languages" class="form-control" value="@Model.Languages"/>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Areas" class="control-label"></label>
                    <input asp-for="Areas" class="form-control" value="@Model.Areas"/>
                   
                </div>

                       <div class="modal-footer">
                    <a asp-controller="Employees" asp-action="index" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>